/* Dock Styling */
.dock-window {
	background: transparent;
}
.dock {
  padding: 19px 14px 4px 14px;
  margin: 0px 0px 4px 0px;
  border-radius: 22px;

  background: rgba(24, 24, 24, 0.9);
}

.indicator {
	min-width: 5px;
	min-height: 5px;
	border-radius: 999px;
	background: rgba(238, 238, 238, 0.5);
	border: none;
	margin: 5px 0px 0px 0px;
}

button.icon {
  padding: 0px 8px;
  border-radius: 14px;

  background: transparent;
  border: 0px;
}

button.icon:hover {
  border-radius: 14px;
  /* background: rgba(238, 238, 238, 0.10); */
}

button.icon:active {
  border-radius: 14px;
  /* background: rgba(238, 238, 238, 0.10); */
}



/* Searcher Styling */
.search-window {
	background-color: transparent;
}

.search-window .search-container {
	min-width: 680px;
	min-height: 500px;
	background: #181818ee;
	border-radius: 20px;
	padding: 15px;
	border: 2px solid #ebdbb2;
}

.search-window entry {
	min-height: 50px;
	margin: 8px 14px 4px 14px;
	padding: 0px 14px;
	background: #444444bb;
	color: white;
	border: none;
	outline: none;
	border-radius: 12px;
	font-size: 20px;
}

.search-window .app-btn {
	min-width: 100px;
	min-height: 100px;
	background: transparent;
	border-radius: 12px;
	margin: 0 4px 8px 4px;
	outline: none;
	border: 1px solid #44444433;
	font-size: 16px;
}

.search-window label {
	min-width: 50px;
	margin-bottom: 4px;
}
