[Unit]
Description=simple-gui
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/simple-gui
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
